// colors
$color-start: #596abf;
$color-load: #0898c4;
$color-end: #eb5633; 

$color-gray: #dbdde1;
$color-gray-dark: #60636a;

$color-bpm-big: #202124;
$color-bpm-small: #70757a;

$color-track: #dddddd;